<div class="text-center">
  <h1>Testing</h1>
  <button class="btn btn-success" [routerLink]="['/']">Вернуться на главную</button>
</div>
<hr>

<div class="text-center" *ngIf="isLoaded === false">Loading...</div>
<div class="jumbotron text-center text-capitalize">
  <div class="container-fluid" *ngIf="isLoaded === true">
    <div class="row">
      <div class="col">
        <div class="progress">
          <div class="progress-bar" [style.width.%]="(qnProgress + 1) * 5"></div>
        </div>
        <div class="lead">
          <hr>
          <h3 class="card-title">{{qnProgress + 1}}</h3>
          <span>Select a correct translation for a word:</span>
          <h1>{{slicedWords[qnProgress].name}}</h1>
        </div>
        <hr>
        <ul>
          <ng-container *ngFor="let option of options">
            <li *ngIf="option != null" class="btn btn-info"
                (click)="Answer(option, slicedWords[qnProgress].ruName)">
              {{option}}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
