<div class="text-center">
  <h1>Testing</h1>
  <button class="btn btn-success" [routerLink]="['/']">Вернуться на главную</button>
</div>
<hr>

<div class="text-center" *ngIf="isLoaded === false">Loading...</div>
<div class="container-fluid" *ngIf="isLoaded === true">
  <div class="row">
    <div class="col">
      <div class="progress">
        <div class="determinate" [style.width.%]="(qnProgress+1)*5"></div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{qnProgress+1}}</span>
          <span>Select a correct translation for a word:</span>
          <h2>{{slicedWords[qnProgress].name}}</h2>
        </div>
        <div class="card-action">
          <ul class="collection answer">
            <ng-container *ngFor="let option of options">
              <li *ngIf="option != null" class="collection-item"
                  (click)="Answer(option, slicedWords[qnProgress].ruName)">
                {{option}}
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
